<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main">
        {{>header}}
        <p>This site was created by Savannah. It uses data from <a target="_blank" rel="noopener"
                href="https://mapbox.com">mapbox.com</a>
            and
            <a target="_blank" rel="noopener" href="https://weatherstack.com">weatherstack.com</a></p>
        <img class="portrait" src="img/robot.png" />
    </div>
    {{>footer}}
</body>

</html>